.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed ;
    top: 0px;
    left: 0%;
    

    padding: 2px;
    height: 10vh;
    margin: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 2px 3px  rgb(85, 85, 85);
}

.logo{
    padding: 5px;
    width: 20vw;
    box-sizing: border-box;
    max-height: 100%;
    max-width: 8vh;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 5px;
    aspect-ratio: 1/1;
    z-index: 2;
}

.title{
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    font-size: 1em;
    text-align: center;
    flex-basis: content;
}

.loger-container{
    display: flex;
    position:absolute;
    right: 5px;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    /* padding: 5px; */
    gap: 15px;
    height: max-content;
    margin: 5px;
    width: max-content;
}

.authen{
    cursor: pointer;
    padding: 5px;
    position: relative;
}

.authen:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    
}


#loginBox, #registerBox{
    position: relative;
    background-color: white;
    width: 60%;
    max-width: 400px;
    padding: 56px 35px 16px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 2px rgb(85, 85, 85);
    color: #878787;
    display: flex;
    flex-direction: column;
    transform: scale(0.8);
}


.errorBox{
    position: relative;
    bottom: 30px;
}
.error{
    height:1em;
}

#registrationForm{
    scale: 0.8;
}

.inputBox{
    position: relative;
}
/* instead of "input[type="text"]" we need to use the classname or id since input might be used again not in forms */
input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid black;
    padding: 8px 0px 10px 0px;
    display: block;
    width: 100%;
    position: relative;
    font-size: larger;  
    margin-bottom: 34px;
    background-color: transparent;
}
span{
    display: block;
    width: 100%;
}
span::after{
    display: block;
    position: relative;
    content: "";
    box-sizing: content-box;
    height: 2px;
    width: 50%;
    bottom: 37px;
    background-color: rgb(40, 116, 240);
    transform-origin: right;
    transform: scale(0);
    transition: transform 0.5s ease-out 0.1s;
}
span::before{
    display: block;
    position: relative;
    content: "";
    box-sizing: content-box;
    height: 2px;
    width: 50%;
    left: 50%;
    bottom:35px;
    background-color: rgb(40, 116, 240);
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.5s ease-out 0.1s;
}
input[type="text"]:focus, input[type="password"]:focus{
    outline: none;
}
.userLabel{
    display: block;
    position: absolute;
    top:5px;
    font-size: larger;
    /* z-index: -1; */
    transform-origin: left top;
    transform: translateY(0) scale(1);
    transition: transform 0.5s ease-out 0.1s;

}
.redirector-link{
    text-align: center;
}
#loginButton, #registerButton{
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    background-color:#fb641b;
    color: white;
    align-content: center;
    border: none;
    padding: 10px 20px;
    width: 100%;
    height: 48px;
    position: relative;
    font-size: 15px;
}
#createAccount{
    display: block;
    position: absolute;
    align-self: center;
    bottom: 32px;
    justify-self: flex-end;
    font-size: 12px;
    font-weight: 400;
    
}


/* Effects */
input[type="text"]:focus ~ span::before, input[type="password"]:focus ~ span::before{
    transform: scale(1);
}
input[type="text"]:focus ~ span::after, input[type="password"]:focus ~ span::after{
    transform: scale(1);
}
input[type="text"]:focus ~ .userLabel, input[type="password"]:focus ~ .userLabel{
    transform: translateY(-25px) scale(0.7);
}
input[type="text"]:not(:placeholder-shown) ~ .userLabel, input[type="password"]:not(:placeholder-shown) ~ .userLabel{
    transform: translateY(-25px) scale(0.7);
}